:root {
  font-size: 62.5%;
  --primary-color: #d31900;
  --second-color: #fa2121;
  --background-color: #000000e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Fjalla one', 'sans-serif';
  background-color: var(--background-color);
  height: 100vh;
}

.app {
  padding: 6rem;
}

header {
  max-width: 50rem;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 3rem;
  box-shadow: 0 5px 5px 5px black;
  padding: 5rem 1.8rem;
}

.index {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: index-animation 2s forwards;
  margin-bottom: 4rem;
}

.title-dec {
  font-size: 5.6rem;
}

h1 {
  max-height: fit-content;
  font-size: 5rem;
  color: white;
}

p {
  font-size: 1.6rem;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

#search-bar {
  width: 70%;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.4rem;
  z-index: 1;
}

.red {
  color: var(--primary-color);
}

.results {
  padding: 5rem;
  max-width: 100%;
  height: 100vh;
  border-radius: 0.8rem;
  background-color: white;
  margin-top: 6rem;
  transition: all 500ms;
  box-shadow: 8px 8px black 0.5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.movie-card {
  width: 25rem;
  height: 100%;
  background-color: black;
  border-radius: 2rem;
  align-content: center;
  overflow: hidden;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
  transition: all 500ms ease;
}

.movie-card img:hover {
  transform: scale(1.1);
}

.disabled {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.pagination {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  overflow: hidden;
  max-width: auto;
  margin: 0 auto;
}

.button-active {
  background-color: var(--primary-color);
}

img {
  width: 1.8rem;
  height: 1.8rem;
}

button {
  border-radius: 1000%;
  transition: all 300ms;
  border: 0;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: var(--primary-color);
}

@keyframes index-animation {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
